<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'header.html' ignore missing %}
  <title>Trường | HTQL SVTT</title>
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  {% include 'navbar.html' ignore missing %}
  
  {% include 'sidebar.html' ignore missing %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ngành</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Ngành</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="col-lg-12 connectedSortable">
      <!-- Map card -->
      <div class="card">
        <div class="card-header border-0 rows">
          <h3 class="card-title col-lg-3">
            <i class="fa-solid fa-list-ol"></i>
            Danh sách ngành  
          </h3>
          <button class="btn btn-success btn-s ms-auto" id="themnganh_btn" style="float: right;"><i class="fa-solid fa-plus"></i> Thêm ngành</button>
        </div>
        <div class="row col-lg-12">
            <div class="col-lg-3">
                <label for="filter_truong">Chọn trường</label>
                <select name="filter_truong" id="filter_truong" class="form-control select2">
                    <option value="-1" selected>---Tất cả trường---</option>
                </select>
            </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-hover" id="bangdsnganh">
            <thead>
              <tr>
                <th scope="col" style="text-align: center;">ID</th>
                <th scope="col" style="text-align: center; width: 25%;">Tên ngành</th>
                <th scope="col" style="text-align: center;">Ký hiệu</th>
                <th scope="col" style="text-align: center;">Tên trường</th>
                <th scope="col" style="text-align: center;">Trạng thái</th>
                <th scope="col" style="text-align: center; width: 12%;">Thao tác</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'modal.html' ignore missing %}
  {% include 'footer.html' ignore missing %}
  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- date-range-picker -->
<!-- InputMask -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/inputmask/jquery.inputmask.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- DataTables -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css" integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="dist/js/pages/dmnganh.js"></script>
</body>
</html>
